.russia-regions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.data-container-regions {
  position: relative;
  box-sizing: border-box;
  border: 2px solid gray;
  background-color: gray;
  margin: 20px;
}

.regions-graphic {
  position: absolute;
  z-index: 200;
  left: -40px;
  top: 0px
}

.no-stat { 
  box-sizing: border-box;
  border: 2px solid gray;
  background-color: gray;
  color: #a52e2e;
  font-size: 40px;
  text-align: center;
  border-top: 1px solid black;
  margin-top: 10px;
}