.russian-cities-container {
  top: 554px;
  position: absolute;
  z-index: 100;
  color: white;
  background-color: gray;
  width: 0px;
  transition: all ease-in-out 0.5s;
}

.russian-cities-open {
  position: relative;
}

.russian-cities-container-show {
  top: 554px;
  position: absolute;
  z-index: 100;
  color: white;
  background-color: gray;
  width: 350px;
  height: 460px;
  transition: all ease-in-out 0.5s;
  overflow: scroll;
  overflow-x: hidden;
  text-align: center;
}

.closer {
  position: absolute;
  color: white;
  font-size: 50px;
  top: 10px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
}

.regions-sick {
  font-size: 30px;
  text-transform: uppercase;
  padding: 5px;
}

.regions-font-size {
  font-size: 20px;
}

.regions-stat-container {
  margin: 10px 0 10px 0;
  border-bottom: 5px solid #000;
}

.black {
  color: black
}