.russian-cities-container {
  top: -1;
  position: absolute;
  z-index: 100;
  color: white;
  background-color: gray;
  width: 0px;
  transition: all ease-in-out 0.5s;
  overflow: hidden;
}

.russian-cities-open {
  position: relative;
}

.russian-cities-container-show {
  top: 117px;
  left: 0;
  position: absolute;
  z-index: 100;
  color: white;
  background-color: gray;
  width: 100%;
  height: 261px;
  transition: all ease-in-out 0.1s;
  overflow: scroll;
  overflow-x: hidden;
  background: #E5E5E5;
  border-radius: 0px 0px 7px 7px; 
  text-align: left;
}

.closer {
  position: absolute;
  color: white;
  font-size: 50px;
  top: 10px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
}

.regions-sick {
  position: absolute;
  left: 15px;
  top: 7px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  margin: 0;
}



.regions-cases {
  position: absolute;
  left: 245px;
  top: 7px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin: 0;
}

.regions-recovered {
  position: absolute;
  top: 7px;
  left: 296px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #4A9E07; 
  margin: 0;
}

.regions-deaths {
  position: absolute;
  top: 7px;
  left: 342px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;  
  color: #E45707;
  margin: 0;
}


.regions-font-size {
  font-size: 20px;
}

.regions-stat-container {
  width: 398px;
  height: 40px;
  margin: 10px 0 10px 0;
  border-bottom: 0.5px solid #A4A3A3;
}

.black {
  color: black
}

@media (max-width: 1300px) {
  .regions-stat-container {
    width: 100%;
    height: 40px;
    margin: 10px 0 10px 0;
    border-bottom: 0.5px solid #A4A3A3;
  }
}

@media (max-width: 500px) {
  .regions-stat-container {
    width: 100%;
    height: 85px;
    margin: 10px 0 10px 0;
    border-bottom: 0.5px solid #A4A3A3;
  }

  .regions-sick {
    left: 23px;
    top: 30px;
  }

  .regions-cases {
    left: 265px;
    top: 7px;
  }

  .regions-recovered {
    top: 36px;
    left: 265px;
  }

  .regions-deaths {
    top: 63px;
    left: 265px;
  }
}