.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.header-text-container {
  display: flex;
  
}

.header-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
}

.updated {
  width: 300px;
  margin: 0 auto;
  font-size: 7px;
  text-align: center;
}

.heart {
  width: 30px;
  height: 30px;
  margin-top: 24px;
  margin-left: 14px;
}

@media (max-width: 1075px) {
  .header {
    margin: 5px;
  }

  .header-text, .heart {
   margin: 0;
  }

  .header-text{
    padding: 0px 10px 10px 0;
  }

  .header-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 680px) {
  .header {
    font-size: 35px;
  }

  .header-text {
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 35px;
  }

  .header-text {
    font-size: 17px;
    margin-left: 5px;
  }

  .header-container {
    align-items: initial;
  }
}