.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.header-text-container {
  display: flex;
  
}

.header-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
}

.updated {
  width: 300px;
  margin: 0 auto;
  font-size: 7px;
  text-align: center;
}

.heart {
  width: 30px;
  height: 30px;
  margin-top: 24px;
  margin-left: 14px;
}

@media (max-width: 1075px) {
  .header-text, .heart {
    display: none;
  }
}
