.data-container {
  box-sizing: border-box;
  border: 2px solid gray;
  background-color: gray;
  width: 350px;
  height: 460px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.data-info-header {
margin: 10px 0 0 5px;
padding: 0;
font-size: 25px;
font-weight: 700;
}

.data-info-header--state {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.data-info-sick {
  font-size: 80px;
  font-weight: 700;
  padding: 5px 0 5px 0;
}

.data-info-sick--text {
  padding: 0 0 5px 5px;
}

.red {
  color: #a52e2e
}

.green {
  color: #51763f
}

