.data-container {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 7px 4px 10px rgba(157, 157, 157, 0.25);
  border-radius: 7px;
  width: 397px;
  height: 380px;
  margin: 0 auto;
  margin-top: 57px;
  margin-bottom: 73px;
  overflow: hidden;
}

.data-inner-container {
  width: 90%;
  margin: 0 auto;
}

.data-info-flex-container {
  display: flex;
  justify-content: left;
  align-items: center;
}


.data-info-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  margin-top: 37px;
}

.data-info-header--state {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  margin-left: 2px;
}

.data-info-sick-container {
  margin-top: 33px;
  display: flex;
  align-items: center;
  position: relative;
}



.data-info-sick {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-right: 30px;
  white-space: nowrap;
}

.data-info--text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 50px;
}

.margin1 {
  position: relative;
  top: 12px;
}

.margin2 {
  position: relative;
  top: 17px;
}

.margin3 {
  position: relative;
  top: 19px
}

.margin4 {
  position: relative;
  top: 24px
}

.data-info-sick--text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.data-info-recovered-container {
  margin-top: 13px;
  display: flex;
  align-items: center;
  position: relative;
}

.data-info-recovered {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #4A9E07;
  margin-right: 30px;
  white-space: nowrap;
}


.data-info-recovered--text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #4A9E07;
}

.data-info-death-container {
  margin-top: 13px;
  display: flex;
  align-items: center;
  position: relative;
}

.data-info-death {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #E45707;
  white-space: nowrap;
  margin-right: 30px;
}


.data-info-death--text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #E45707
}

.data-info-now-sick-container {
  margin-top: 13px;
  display: flex;
  align-items: center;
  position: relative;
}

.data-info-now-sick {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #FFE591;
  white-space: nowrap;
  margin-right: 30px;
}


.data-info-now-sick--text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: rgb(61, 51, 17);
}


.red {
  color: #E45707
}

.green {
  color: #51763f
}

.yellow {
  color: #FFE591;
}


@media (max-width: 1300px) {
  .data-container {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}


@media (max-width: 425px) {
  .data-info-sick {
    font-size: 26px;
  }
  
  
  .data-info-sick--text {
    font-size: 14px;
  }

  .data-info-recovered {
    font-size: 26px;
  }
  
  
  .data-info-recovered--text {
    font-size: 14px;
  }

  .data-info-death {
    font-size: 26px;
  }
  
  
  .data-info-death--text {
    font-size: 14px;
  }

  .data-info-now-sick {
    font-size: 26px;
  }
  
  
  .data-info-now-sick--text {
    font-size: 14px;
  }
}