.stat-blocks-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
}

.backdrop {
  z-index: 100;
  color: '#fff';
}

.content-wrapper {
  max-width: 1440px;
  margin:  0 auto;
}

.content-margins {
  width: 89.4%;
  margin: 0 auto;
}