.mapContainer {
  width: 100%;
  box-shadow: 7px 4px 10px rgba(157, 157, 157, 0.25);
    border-radius: 7px;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

.map-header {
  text-align: center;
}