.history-date {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.history-date-value {
  display: inline-block;
}

.form-search-container {
  position: absolute;
  top: 50px;
  right: 30px;
  width: 150px;
  height: 30px;
}

.form-search {
  position: relative;
}

.input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  width: 140px;
}

.input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
}

.close, .search {
  width: 15px;
  height: 15px;
  position: absolute;
  top:0;
  right: 5%; 
}

.close {
  cursor: pointer;
}

.data-info-main-container {
  position: relative;
}

@media (max-width: 400px) {
  .form-search-container {
    right: 0;
  }
}