.history-date {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.history-date-value {
  display: inline-block;
}

.form-search {
  position: absolute;
  top: 63px;
  right: 30px;
}

.input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  width: 140px;
}

.close, .search {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 65px;
  left: 347px; 
}

.close {
  cursor: pointer;
}

@media (max-width: 425px) {
  .input {
    width: 100px;
  }

  .close, .search {
    left: 335px; 
  }
}

@media (max-width: 415px) {
  .close, .search {
    left: 325px; 
  }
}

@media (max-width: 400px) {
  .close, .search {
    left: 310px; 
  }
}

@media (max-width: 380px) {
  .close, .search {
    left: 295px; 
  }
}

@media (max-width: 375px) {
  .close, .search {
    left: 290px; 
  }
}